<p id="notice"><%= notice %></p>
<h1>Buyers</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <%if admin_logged_in? %>
        <td><%= link_to 'Edit', edit_buyer_path(buyer),class: 'button' %></td>
        <td><%= link_to 'Destroy', buyer, class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<center><span class="button">
<%if seller_logged_in? %>
<%= link_to 'Back', seller_path(session[:seller_id])%>
<%end%>
<%if buyer_logged_in? %>
<%= link_to 'Back', buyer_path(session[:buyer_id])%>
<%end%>
</span></center>
<br>
